<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a href="#" class="navbar-brand">Routing</a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navdata">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class=" collapse navbar-collapse " id="navdata">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a routerLink="/" class="nav-link">Home</a></li>
            <!-- <li class="nav-item"><a [routerLink]="['/','add']" class="nav-link">Home</a></li>   specify multiple route to same path-->
            <li class="nav-item"><a routerLink="/servers" class="nav-link">Servers</a></li>
            <li class="nav-item"><a routerLink="/users" class="nav-link">Users</a></li>
        </ul>
    </div>
</nav>
